//
// Colors
//

// Override Bootstrap color variables

//$yellow: #ffc800;
$yellow: #3193d4;

// Override Bootstrap state colors variables

$primary: $yellow;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
